In [10]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%sql mysql://USERNAME:PASSWORD@HOST/DATABASE

'Connected: admin@spotify'

### Exploratory Query #3
I wanted to determine which podcasts from the Spotify database were linked to Wondery and which Genre they had.

In [19]:
%%sql
SELECT podcasts.podcast_id, podcasts.name AS podcast_name, podcasts.genre, artists.name AS artist_name
FROM podcasts
JOIN artists
    ON podcasts.podcast_id = artists.podcast_id
WHERE artists.podcast_id IS NOT NULL
    AND artists.name = 'Wondery';

 * mysql://admin:***@podcast-shows-db.cn69ibyjtgb1.us-east-2.rds.amazonaws.com/spotify
1 rows affected.

[(11, 'Left, Right, and Center', 'Politics', 'Wondery')]

### Exploratory Query #3
From this query, I found that the Spotify API is not the best place to look at Wondery podcast information as there is only one entry.

### Business Question #3
Question: Which genres of podcasts are the most popular on Spotify?

Business Justification: This query helps the Wondery company better understand what genres of podcasts are the most popular on Spotify which is a very popular viewing platform. This will help them to determine which types of genres they should make podcasts on and which they should cut down on. 

SQL Features Used: Window Functions, CTE

In [39]:
%%sql
WITH podcasts_ranked AS (
    SELECT
        p.name AS podcast,
        p.genre,
        p.popularity,
        a.name AS artist,
        AVG(p.popularity) OVER() AS avg_popularity_for_all_podcasts,
        DENSE_RANK() OVER(
            ORDER BY p.popularity DESC
        ) AS podcast_dense_rank
    FROM podcasts p
    JOIN artists a
        ON p.podcast_id = a.podcast_id
)
SELECT *
FROM podcasts_ranked
WHERE podcast_dense_rank <=5;

 * mysql://admin:***@podcast-shows-db.cn69ibyjtgb1.us-east-2.rds.amazonaws.com/spotify
5 rows affected.

[('In the Dark', 'Narrative', 91, 'LeVar Burton', Decimal('55.6471'), 1),
 ('My Favorite Murder with Karen Kilgariff and Georgia Hardstark', 'Crime', 90, 'Karen Kilgariff', Decimal('55.6471'), 2),
 ('With Special Guest Lauren Lapkus', 'Entertainment', 87, 'Adam Pereria', Decimal('55.6471'), 3),
 ('The Bright Sessions', 'Thriller', 86, 'Jeannie Bright', Decimal('55.6471'), 4),
 ('The Joe Budden Podcast with Rory & Mal', 'Entertainment', 84, 'Joe Budden', Decimal('55.6471'), 5)]

### Business Question #3
Recommendation: The Wondery company should focus on creating more Crime and Thriller podcasts. U.S. listeners find these podcasts very interesting and they rank highly on Spotify. The Wondery company could look into getting artists with similar senses of humor or behaviors to try and mimic these popular artists.